.cp_qa *, .cp_qa *:before, .cp_qa *:after {
	-webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

.cp_qa {
	margin: 0 auto;
	background: #ffffff;
}
/*ヘッターラジオボタン*/
.cp_qa > .inVisible {
	display: none;
}

.cp_qa input[type=checkbox] {
	display: none;
}


/* カテゴリー */
.cp_qa #cp_content1,
.cp_qa #cp_content2,
.cp_qa #cp_content3,
.cp_qa #cp_content4 {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #dddddd;
}

.cp_qa label.cp_tabitem {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	text-align: center;
	color: #bbbbbb;
	border: 1px solid transparent;
}

.cp_qa label.cp_tabitem:before {
	margin-right: 10px;
}

.cp_qa label.cp_tabitem[for*='1']:before {
	font-family: 'FontAwesome', sans-serif;
	content: '\f07c';
}

.cp_qa label.cp_tabitem[for*='2']:before {
	font-family: 'FontAwesome', sans-serif;
	content: '\f15c';
}

.cp_qa label.cp_tabitem[for*='3']:before {
	font-family: 'FontAwesome', sans-serif;
	content: '\e53d';
}

.cp_qa label.cp_tabitem[for*='4']:before {
	font-family: 'FontAwesome', sans-serif;
	content: '\f891';
}

.cp_qa label.cp_tabitem:hover {
	cursor: pointer;
	color: #888888;
}

.cp_qa input:checked+label {
	color: #555555;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
}

/* --ブロックのバーの色 */
.cp_qa input:checked+label[for*='1'] {
	border-top: 5px solid #00BCD4;
}

.cp_qa input:checked+label[for*='2'] {
	border-top: 5px solid #FF5722;
}

.cp_qa input:checked+label[for*='3'] {
	border-top: 5px solid #03A9F4;
}

.cp_qa input:checked+label[for*='4'] {
	border-top: 5px solid #E91E63;
}
/****************************画面変更に伴うUI変更********************************* */
/* 上のタブアイコン表示に変更（） */
@media screen and (max-width: 900px) {
	.cp_qa label.cp_tabitem {
		font-size: 0;
	}

	label:before {
		font-size: 20px;
		margin: 0;
	}
}
/* 更に隙間減らす */
@media screen and (max-width: 400px) {
	.cp_qa label.cp_tabitem {
		padding: 15px;
	}

	.cp_qa label.cp_tabitem:before {
		margin-right: 0px;
	}
}
/* 宣言欄のタブ二・三層化 */
/* .cp_qain div:nth-of-type(2n-1) {
	float: left;
	color: red;
}

.cp_qain div:nth-of-type(2n) {
	clear: both;
}

*/
/****************************画面変更に伴うUI変更終わり********************************* */
/* ヘッダータブ切り替え */
.cp_qa #cp_conttab1:checked~#cp_content1,
.cp_qa #cp_conttab2:checked~#cp_content2,
.cp_qa #cp_conttab3:checked~#cp_content3,
.cp_qa #cp_conttab4:checked~#cp_content4 {
	display: block;
}

.cp_qa .cp_qain {
	overflow-x: hidden;
	margin: 0 auto;
	color: #333333;
}

.cp_qa .cp_qain .BLOCK {
	padding: 20px 0;
	margin: 5px;
	/* background-color: #cccccc77; */
	border-radius: 10px;

}

.Component_list,
.Proccess_list,
.Sengen_list {
	background-color: #cccccc77;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.Component_list:hover {
	background-color: #e91e6279;
}

.Proccess_list:hover {
	background-color: #03a8f47f;
}

/* 質問 */
.cp_qa .cp_qain label {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 10px 0 48px;
	cursor: pointer;
}

/* ＋アイコン */
.cp_qa .cp_qain .cp_plus {
	font-size: 2em;
	line-height: 100%;
	position: absolute;
	z-index: 5;
	margin-top: 3px;
	margin-left: 10px;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

/* 答え */
.cp_qa .cp_qain .BLOCK-content {
	position: relative;
	overflow: hidden;
	font-size:  13px;
	font-weight:bold;
	height: 0;
	margin: 0 10px 0 48px;
	padding: 14px 0;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	opacity: 0;
}

/* 質問を開いた時の仕様 */
.cp_qa .cp_qain .BLOCK input[type=checkbox]:checked~.BLOCK-content {
	height: auto;
	opacity: 1;
}

.cp_qa #cp_content3 .cp_qain .BLOCK input[type=checkbox]:checked~.BLOCK-content {
	height: 400px;
	overflow:scroll;
	opacity: 1;
}

/* 質問をクリックした時の▼アイコンの動き */
.cp_qa .cp_qain .BLOCK input[type=checkbox]:checked~.cp_plus {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* リスト黒点非表示 */
li {
	list-style: none;
}
/* ---------------コメントアウト用CSS--------------- */
.Comment_list {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	text-align: center;
	border: 0;
	padding: 3px 16px;
	color: #ffffff;
	background: #008060;
	border-radius: 6px;
	font-weight: 500;
	font-size: 12px;
	/* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset; */
}

.Comment_list:hover {
	background: #006e52;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーコンボボックスーーーーーーーーーーーーーーーーーーーーーーーー */
.cp_ipselect {
	position: relative;
	width: 90%;
	margin: 2em 3%;
	text-align: center;
}

.Select {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.Select:focus {
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.cp_ipselect .Select {
	appearance: none;
	-webkit-appearance: none
}

.cp_ipselect select::-ms-expand {
	display: none;
}

.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}

.Select_selectlabel {
	color: rgba(0, 0, 0, 0.5);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

.Select:focus~.Select_selectlabel,
.Select:valid~.Select_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

.Select_selectbar {
	position: relative;
	display: block;
	width: 100%;
}

.Select_selectbar:before,
.Select_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}

.Select_selectbar:before {
	left: 50%;
}

.Select_selectbar:after {
	right: 50%;
}

.Select:focus~.cp_sl06_selectbar:before,
.cp_sl06:focus~.cp_sl06_selectbar:after {
	width: 50%;
}

.Select_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
/* 確認ナンバー入力欄 */
.cp_iptxt {
	position: relative;
	width: 40%;
	margin: 40px 3%;
}

.cp_iptxt input[type='number'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.6);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
}

.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.6);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
}

.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーー宣言UI多段化ーーーーーーーーーーーーーーーーーーーーーーーー */

@media screen and (min-width: 2100px) {
.Sengen_list {
	float: left;
	width: 30%;
}
}

@media screen and (min-width: 1400px) {
.Sengen_list {
		float: left;
		width: 45%;
	}

}
/* .post {
	margin: 20px;
	padding: 30px 0;
	background: #fff;
}

*/
body {
	tab-size: 4;
	-moz-tab-size: 4;
}
code {
	/* margin: 30px 0; */
	font-size: 14px;
	border-radius: 10px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1.2;
	/*角の丸み*/
}
.HenkouLog_Child {
	overflow-x: auto;
	background: #2d2f32;
	color: #fff9f0;
	font-size: 14px;
	margin: 12px;
	border-radius: 10px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	/* 角の丸み */
	display: flex;
}

/* .Codelog {
	float: left;
	line-height: 1.2;
}

*/
.LineNo {
	margin: 14px;
	padding-top: 12px;
		line-height: 1.2;
}

.KaKuNiN {
	border: solid medium #ce363b;
	color: #fff9f0;
	margin: 3px;
	padding: 3px;

}
.FileName{
    font-size: 18px;
	border-radius: 10px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1.2;
}
.HenkouLog_ChildName{
    margin-left: 26px;
}